<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>With Method: {{ getHeroDescription() }}</dd>
  <dd>With Computed Signal: {{ heroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>Without Signal: {{ name().toUpperCase() }} </dd>
  <dd>With Computed Signal: {{ name().toUpperCase() }} </dd>
  <dd>With Pipe: {{ name() | uppercase }} </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button class="btn btn-primary" (click)="changeAge()">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>