#! El archivo '.env' es donde se van a colocar las llaves que son variables de entorno. Usualmente este archivo de variables de entorno es un estándar.

#! Angular no trabaja directamente con este tipo de archivos '.env' Para solucionarlo, vamos a generar un script que automáticamente cree los environments.

#! Una recomendación es que cuando se tiene un '.env' se genere una copia y la renombremos a '.env.template' para que cualquier desarrollador sepa que se tienen que configurar las variables de entorno. También se recomienda poner comentarios indicando dónde obtener las llaves y quizá cómo luce dicha llave.

#! Otra recomendación es que cuando se realice un procedimiento que ya no sea estándar en levantar una aplicación de Angular, se modifique el README.md y se escriban los pasos para levantar el proyecto

#!----------------------------------------------------------------------------------------
#! Este archivo '.env.template' se creó porque se modificó el '.gitignore' para evitar subir por accidente los archivos: '.env', 'environment.development.ts' y 'environment.ts'
#!----------------------------------------------------------------------------------------

#! https://console.mapbox.com/account/access-tokens/
MAPBOX_KEY = 'pk.XXXX.XXXX'
